/* This is using the spaceduck color scheme (see https://github.com/pineapplegiant/spaceduck)
 *
 * Colors:
 * Palette      Hex      HSV/HSB     RGB            cterm/256  SYN ID
 * Red          #e33400  14,100,89   227, 52, 0     166        Error, Ignore
 * Orange       #e39400  39,100,89   227, 148, 0    172        Exception, Keyword, SpecialChar
 * Green        #5ccc96  151,55,80   92, 204, 150   78         Statement, Underlined, Function, Include, Conditonal
 * Yellow       #f2ce00  51,100,95   242, 206, 0    220        Constant, Boolean, Character, Float, Number
 * Purple       #b3a1e6  256,30,90   179, 161, 230  146        PreProc, Special, Tag, Debug, StorageClass
 * Purple2      #7a5ccc  256,55,80   122, 92, 204   98         Title, Define, Macro, Define, Precondit, (Operator)
 * Dark Purple  #30365F  232,49,37   48, 54, 95     237        Comment, LineNR, MatchParen, EndOfBuffer, Pmenu, IncSearch
 * Dark Purple2 #686f9a  232,32,60   104, 111, 154  60         Todo, PmenuSbar, Conceal, Search
 * Cyan         #00a3cc  192,100,80  0, 163, 204    38         Identifier, String, Structure, Typedef
 * Magenta      #ce6f8f  340,46,81   206, 111, 143  168        Type, Delimeter, Operator
 *
 * Extras:
 * Palette          Hex      HSV/HSB    RGB          cterm/256  SYN ID
 * Background       #0f111b  230,44,11  15, 17, 27   233        Background
 * Foreground       #ecf0c1  65,20,94   236,240,193  255        Foregrond, Delimiter
 * Visual Selection #1b1c36  238,50,21  27, 28, 54   234        Visual
 * Cursor Line      #16172d  237,51,18  22, 23, 45   234        CursorLine
 *
 * The only deviation I use is the foreground color, which is white (#eee) instead
 * of the yellow in this palette.
 */

* {
  font-family: 'Roboto', sans-serif;
  color: #eee;
  text-decoration: none;
  background-color: #0f111b;
}

h1 {
  font-size: 20pt;
}

.sidebar {
  width: 130pt;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  margin: 10pt;
}
.sidebar h1 {
  font-size: 16pt;
}
.sidebar h2 {
  font-size: 14pt;
}
.sidebar-link {
  display: inline;
  margin-top: 10pt;
  margin-bottom: 10pt;
  margin-left: 10pt;
}
.main {
  margin-left: 170pt;
}

.module {
  /* cyan */
  color: #61b9cf;
}
.struct {
  /* orange */
  color: #e39400;
}
.builtin {
  /* red */
  color: #e33400;
}
.func {
  /* green */
  color: #5ccc96;
}
.primitive {
  /* magenta */
  color: #ce6f8f;
}
.predefined {
  /* yellow */
  color: #e3bd6b;
}
.callback {
  /* purple */
  color: #9b7ad3;
}
.comment {
  /* gray */
  color: #888;
}
.string {
  /* cyan */
  color: #61b9cf;
}
.number {
  /* purple */
  color: #9b7ad3;
}
.keyword {
  /* orange */
  color: #e39400;
}
.func_call {
  /* white */
  color: #eee;
}

a:hover {
  text-decoration: underline;
}
.collapse-button {
  margin-top: 4pt;
  margin-left: -24pt;
  display: inline-block;
  position: absolute;
  text-decoration: none !important;
  font-family: 'Inconsolata', monospace;
}
.collapse-button {
  color: #888;
}
.collapse-button.collapsed {
  color: #ccc;
}
.collapse-button:hover {
  color: #ccc;
}

.table {
  display: grid;
  column-gap: 1.2rem;
  row-gap: 0.0rem;
  grid-template-columns: auto 1fr;
  justify-items: start;
  max-width: 500pt;
}
.table-left {
  grid-column: 1;
  display: block;
}
.table-right {
  grid-column: 2;
  display: block;
  margin: 0;
}

.func-def {
  margin-top: 10pt;
  margin-bottom: 10pt;
  font-size: 16pt;
}

/* function names */
code {
  font-family: 'Inconsolata', monospace;
  color: #eee;
  text-decoration: none;
}
code > a {
  font-family: 'Inconsolata', monospace;
}

.markdown {
  max-width: 500pt;
}

/* inline code sections */
.markdown > code {
  border-radius: 2pt;
  padding: 0 0.1rem;
  font-size: 1em;
  background: border-box #30365F;
}
/* code blocks */
pre {
  border-radius: 2pt;
  padding: 0 0.1rem;
  font-size: 1em;
  background: border-box #202640;
  padding: 5pt;
  max-width: 500pt;

  font-family: 'Inconsolata', monospace;
  color: #eee;
  text-decoration: none;
}
pre > span {
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  background-color: #202640;
}
pre > a {
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  background-color: #202640;
}

.markdown > h1 > a {
  font-size: 14pt;
  color: #00a3cc;
}
.markdown > h1 {
  margin-top: 16pt;
  margin-bottom: 10pt;
}
