<script type="module" id="foo">
  // import init, {greet} from "{{ path_to_root }}wasm/pkg/panda_wasm.js";
  // console.log("defining compile...");
  // let compile = function(src) {
  //   init()
  //     .then(() => {
  //       greet("WebAssembly")
  //     });
  // }
  // console.log("defined!");
</script>
